<h2>Create a new Celebrity</h2>

<form action="/celebrities/create" method="POST">
<input type="text" placeholder="Celebrity's name" name="name" />
<input type="text" placeholder="Occupation" name="occupation" />
<input type="text" placeholder="Catch Phrase" name="catchPhrase" />
<button type="Submit"> Submit</button>
</form>